<form #employeeForm="ngForm" (ngSubmit)="saveToList()">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Add To List</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="department">Department</label>
          <input id="department" type="text" class="form-control"
          name="depertment" [(ngModel)]="itm.department">
        </div>
        <div class="form-group">
          <label for="Name">Name</label>
          <input id="Name" type="text" class="form-control"
                 name="name" [(ngModel)]="itm.name">
        </div>
            
        <div class="form-group">
          <label for="groupname">GroupName</label>
          <input id="groupname" type="text" class="form-control"
                 name="groupname" [(ngModel)]="itm.groupname">
        </div>
        
    </div>
      <div class="panel-footer">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </div>
  </form>
